<section id="contact" class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="light">
        <div class="col-lg-12 text-center">
          <ul class="contact list-inline">
            <li>
              <a target="_blank" href="http://www.tranandy.com"><i class="fa fa-2x fa-external-link"></i></a>
            </li>
            <li>
              <a target="_blank" href="mailto:andytran@aggienetwork.com"><i class="fa fa-2x fa-envelope"></i></a>
            </li>
            <li>
              <a target="_blank" href="http://www.linkedin.com/in/andyntran"><i class="fa fa-2x fa-linkedin"></i></a>
            </li>
            <li>
              <a target="_blank" href="http://www.facebook.com/AndyTran1991"><i class="fa fa-2x fa-facebook"></i></a>
            </li>
            <li>
              <a target="_blank" href="http://www.challengepost.com/tran_fong1991"><i class="fa fa-2x fa-code"></i></a>
            </li>
            <li>
              <a target="_blank" href="http://www.github.com/tranfong1991"><i class="fa fa-2x fa-github"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
