        <li id="login" class="bg-primary">
          <a href="#" ng-click="login()" style="color: white;">Login with Facebook</a>
        </li>
        <li class="dropdown" id="user" style="display: none;">
          <a href="#" class="dropdown-toggle profile-image" data-toggle="dropdown">
            <img src="http://placehold.it/32x32" ng-src="{{user.picture.data.url}}" class="img-circle special-img" width="32" height="32">{{user.name}}<b class="caret"></b></a>
            <ul class="dropdown-menu">
	       <li><a href="#" data-toggle="modal" data-target="#create-modal"><i class="fa fa-plus"></i> Create errand</a></li>
	       <li class="divider"></li>
	       <li><a href="#"><i class="fa fa-cog"></i> Account</a></li>
               <li class="divider"></li>
               <li><a href="#" ng-click="logout()"><i class="fa fa-sign-out"></i> Log out</a></li>
            </ul>
          </li>
