<footer class="text-center">
  <div class="footer-below bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Designed and implemented by <a target="_blank" href="http://www.tranandy.com">Andy Tran</a>
        </div>
      </div>
    </div>
  </div>
</footer>
