<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Errand</h1>
      <hr>
      <p>Get Things Done!</p>

      <div class="col-md-12">
        <div id="custom-search-input">
          <form method="get" action="/search">
            <div class="input-group col-md-12">
              <!-- By setting name to 'term', it will automatically concat with action.
              In this case, /search?term=... -->
              <input type="text" name="term"
                class="form-control input-lg" placeholder="Search by area or description..." />
              <span class="input-group-btn">
                <button class="btn btn-info btn-lg" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
