<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Errand - Get Things Done!</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

  </head>

  <body id="page-top">

    <!--Facebook SDK-->
    <script>
      // This is called with the results from from FB.getLoginStatus().
      function statusChangeCallback(response) {
      console.log('statusChangeCallback');
      console.log(response);
      
      // The response object is returned with a status field that lets the
      // app know the current login status of the person.
      // Full docs on the response object can be found in the documentation
      // for FB.getLoginStatus().
      if (response.status === 'connected') {
      // Logged into your app and Facebook.
      console.log('logged in');
      testAPI();
      } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
      'into this app.';
      } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
      'into Facebook.';
      }
      }

      window.fbAsyncInit = function() {
      FB.init({
      appId      : '431794573679228',
      cookie     : true,  // enable cookies to allow the server to access 
      // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.2' // use version 2.2
      });

      // Now that we've initialized the JavaScript SDK, we call
      // FB.getLoginStatus().  This function gets the state of the
      // person visiting this page and can return one of three states to
      // the callback you provide.  They can be:
      //
      // 1. Logged into your app ('connected')
      // 2. Logged into Facebook, but not your app ('not_authorized')
      // 3. Not logged into Facebook and can't tell if they are logged into
      //    your app or not.
      //
      // These three cases are handled in the callback function.

      FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
      });

      };

      // Load the SDK asynchronously
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      // Here we run a very simple test of the Graph API after login is
      // successful.  See statusChangeCallback() for when this call is made.
      function testAPI() {
      console.log('Welcome!  Fetching your information.... ');
      
      FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      });
      }

      function fbLogin(){
      FB.login(function(response) {
      if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
      } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      }
      }, {scope: 'public_profile'});
      }
    </script>

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand page-scroll" href="#page-top">Errand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="page-scroll" href="#about">About</a>
            </li>
            <li>
              <a class="page-scroll" href="#hiw">How It Works</a>
            </li>
            <li>
              <a class="page-scroll" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

    <header>
      <div class="header-content">
        <div class="header-content-inner">
          <h1>Errand</h1>
          <hr>
          <p>Get Things Done!</p>
	  <button class="btn btn-primary btn-xl" onclick="fbLogin();">Login with Facebook</button>
	  <button class="btn btn-default btn-xl" onclick="FB.logout(function(response){console.log('Logged out');});">Logout</button>
	</div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">It's time to make some extra money!</h2>
            <hr class="light">
            <p class="text-faded">Errand allows users to list as well as do other people's errands for some extra bucks.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="hiw">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">How It Works</h2>
            <hr class="primary">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-facebook wow bounceIn text-primary" data-wow-delay=".1s"></i>
              <h3>1. Login with Facebook</h3>
              <p class="text-muted">Facebook account is required. Sign up 
		<a target="_blank" href="https://facebook.com/">here</a> if you don't have one.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
              <h3>2. List / Do Errands</h3>
              <p class="text-muted">List new errands you need done or do errands for others.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-usd wow bounceIn text-primary" data-wow-delay=".3s"></i>
              <h3>3. Pay / Get Paid</h3>
              <p class="text-muted">Pay your errand runners or get paid for good service.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <aside class="bg-dark">
      <div class="container text-center">
        <div class="call-to-action">
          <h2>Free Android App!</h2>
          <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>
        </div>
      </div>
    </aside>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
	    <hr class="primary">
	    <div class="col-lg-12 text-center">
	      <ul class="list-inline">
		<li>
		  <a href="mailto:andytran@aggienetwork.com"><i class="fa fa-2x fa-envelope"></i></a>
		</li>
		<li>
		  <a target="_blank" href="http://www.linkedin.com/in/andyntran"><i class="fa fa-2x fa-linkedin"></i></a>
		</li>
		<li>
		  <a target="_blank" href="http://www.facebook.com/AndyTran1991"><i class="fa fa-2x fa-facebook"></i></a>
		</li>
		<li>
		  <a target="_blank" href="http://www.challengepost.com/tran_fong1991"><i class="fa fa-2x fa-code"></i></a>
		</li>
		<li>
		  <a target="_blank" href="http://www.github.com/tranfong1991"><i class="fa fa-2x fa-github"></i></a>
		</li>
	      </ul>
	    </div>                    
          </div>
        </div>
      </div>
    </section>

    <footer class="text-center">
      <div class="footer-below bg-dark">
	<div class="container">
	  <div class="row">
	    <div class="col-lg-12">
              Designed and implemented by <a href="http://tranandy.com">Andy Tran</a>
	    </div>
	  </div>
	</div>
      </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>

  </body>

</html>
