<!DOCTYPE html>
<html lang="en" ng-app="ErrandApp" >
  <head>
    <% include ../partials/head %>
  </head>
  <body ng-controller="errandController">
    <!-- navbar -->
    <% include ../partials/navbar %>

    <!-- header -->
    <% include ../partials/header %>

    <script>ip = "<%= ip %>"</script>
    
    <section id="trending">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Errands near {{ currentLocation.city + ', ' + currentLocation.region + ', ' + currentLocation.countryCode }}</h2>
            <hr class="primary">
          </div>

          <!-- Populate multiple errand template by using ng-repeat -->
	  <div class="row">
              <!-- Custom errand template using custom angular directive -->
              <errand info="errand" ng-repeat="errand in errands"></errand>
	  </div>

          <!-- Pagination -->
         <div class="row text-center">
            <div class="col-lg-12">
              <pagination
                 total-items="totalItems"
                 ng-model="currentPage"
                 ng-change="pageChanged()"
                 max-size="maxSize"
                 items-per-page="itemsPerPage"
                 boundary-links="true"
		 previous-text="Prev">
              </pagination>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- contact -->
    <% include ../partials/contact %>

    <!-- footer -->
    <% include ../partials/footer %>

    <!-- errand modal  -->
    <% include ../partials/errand-modal  %>

    <!-- jQuery -->
    <script src="js/shared/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/shared/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/shared/jquery.easing.min.js"></script>
    <script src="js/shared/jquery.fittext.js"></script>
    <script src="js/shared/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/shared/creative.js"></script>

    <!-- Google Places API  -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2hdyDaASuFFv-wQUhnDZIA9TPK6UIiaM&libraries=places"></script>

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js"></script>
    <script src="js/shared/ui-bootstrap-tpls-0.14.3.min.js"></script>

    <!-- Modules -->
    <script type="text/javascript" src="js/app.js"></script>

    <!-- Controllers -->
    <script type="text/javascript" src="js/controllers/errand-controller.js"></script>

    <!-- Directives -->
    <script type="text/javascript" src="js/directives/errand-directive.js"></script>
    <script type="text/javascript" src="js/directives/google-places-directive.js"></script>  
    
    <!-- Services -->
    <script type="text/javascript" src="js/services/errand-service.js"></script>
    <script type="text/javascript" src="js/services/user-service.js"></script>
    <script type="text/javascript" src="js/services/auth-service.js"></script>

    <!-- Filters -->
    <script type="text/javascript" src="js/filters.js"></script>

  </body>
</html>
